.contacto_form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 35px;
    margin-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px){
    .contacto_form{
        padding-left: 40px;
        padding-right: 40px;
    }
}