.logo{
    width: 200px;
    height: 65px;
}
nav{
    margin-bottom: 30px;
}

.navbar-nav{
    align-items: center;
}

#navbarNav{
    margin-top: 25px;
    margin-bottom: 15px;
}

ul{
    li{
        font-family: 'Montserrat', sans-serif;;
    }
}