.carousel-control-next{
    right: -23px;
}

.carousel-control-prev{
    left: -23px;
}

.card{
    --bs-card-border-width: 0px

}

.card-img-top{
    margin: 20px 5px 20px 5px;

}

.card-title{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.card-text{
    padding: 20px;
    
}

.card-text:last-child{
    margin-bottom: 10px;
}

@media (min-width: 768px){
    .carousel-control-next{
        right: -43px;
    }

    .carousel-control-prev{
        left: -43px;
    }
}

@media(min-width: 950px){
    .card-img-top{
        width: 85%;
        height: 85%;
    }
    .card{
        align-items: center;
    }
    .carousel-control-next{
        right: -60px;
    }

    .carousel-control-prev{
        left: -60px;
    }
}
@media(min-width: 1100px){
    .carousel-control-next{
        right: -75px;
    }
    .carousel-control-prev{
        left: -75px;
    }
}    