.sobre_nos_info{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.sobre_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box_1{
    order: 1;
    padding: 15px 15px 15px 5px;
}

.box_2{
    order: 2;
}

.box_3{
    order: 4;
}

.box_4{
    order: 3;
    padding: 15px 15px 15px 5px;
}

.box_5{
    order: 5;
    padding: 15px 15px 15px 5px;
    
}

.box_6{
    order: 6;
}

@media (min-width: 900px){
    .sobre_nos_info{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        margin-top: 40px;
    }
    
    .box_3{
        order: 3;
    }

    .box_4{
        order: 4;
    }
}

@media(min-width:1100px){
    .box_4{
        padding-left: 40px;
    }
    .sobre_nos_info{
        padding: 20px;
        gap: 10px;
    }
}