@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans&display=swap");
ul {
  list-style: none;
}
ul li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.foot_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  padding: 3px;
  row-gap: 10px;
  margin-top: 15px;
}

.fa {
  font-size: 30px;
  text-align: center;
  color: #88878a;
}

a.fa:link {
  color: #88878a;
}

a.fa:visited {
  color: #88878a;
}

.foot_div {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

footer {
  background: rgb(136, 135, 138);
  background: linear-gradient(180deg, rgba(136, 135, 138, 0.829866981) 0%, rgba(164, 210, 103, 0.9475140398) 6%, rgba(164, 210, 103, 0.9335084376) 95%, rgba(136, 135, 138, 0.8354692219) 100%);
  padding: 20px;
}

.foot_text {
  font-size: 16px;
}

@media (min-width: 768px) {
  footer {
    padding: 17px 0px 17px 0px;
  }
  .foot_text {
    text-align: left;
    text-justify: auto;
    padding-left: 8px;
    font-size: 18px;
  }
  .foot_icon {
    text-align: center;
    padding-top: 10px;
  }
  .fa {
    font-size: 35px;
  }
}
@media (min-width: 950px) {
  .fa {
    font-size: 38px;
  }
  .foot_text {
    font-size: 20px;
  }
}
.imgagenes_muestras {
  width: 100%;
  height: auto;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  background: linear-gradient(125deg, rgba(136, 135, 138, 0.8354692219) 12%, rgba(164, 210, 103, 0.9335084376) 23%);
  background-repeat: no-repeat;
  background-size: 100% 5px;
  background-position: bottom;
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Noto Sans", sans-serif;
  margin: 15px 4px 25px 4px;
  padding: 15px 15px 15px 5px;
  font-size: 18px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  padding-left: 5px;
  font-size: 27px;
}

.display_monitores {
  margin-bottom: 30px;
}

.img_index {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: 47px;
  }
  h2 {
    font-size: 33px;
  }
  p {
    font-size: 19px;
  }
  .img_index {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media (min-width: 950px) {
  h1 {
    font-size: 49px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
  }
  .img_sevicios {
    width: 85%;
    height: 85%;
  }
  .repuestos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1100px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 37px;
  }
  p {
    font-size: 22px;
  }
}
.logo {
  width: 200px;
  height: 69px;
  margin-bottom: 10px;
}

nav {
  margin-bottom: 30px;
  border-bottom: solid 6px;
  border-image: linear-gradient(125deg, rgba(164, 210, 103, 0.9335084376) 71%, rgb(136, 135, 138) 92%) 1;
}

.navbar-nav {
  align-items: center;
}

#navbarNav {
  margin-top: 25px;
  margin-bottom: 15px;
}

ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.nav-link:hover {
  color: #a4d267;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
  ul li {
    font-size: 22px;
    text-align: center;
  }
  .logo {
    width: 213px;
    height: 73px;
  }
  #navbarNav {
    margin-bottom: 0px;
  }
  .navbar {
    padding-bottom: 0px;
  }
}
@media (min-width: 950px) {
  .logo {
    width: 220px;
    height: 76px;
  }
  ul li {
    font-size: 24px;
    text-align: center;
    margin-right: 4px;
  }
}
.contacto_form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 35px;
  margin-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.form_enviar {
  margin-top: 30px;
}

.btn {
  background-color: #88878a;
  border-color: #88878a;
}

@media (min-width: 768px) {
  .contacto_form {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.carousel-control-next {
  right: -23px;
}

.carousel-control-prev {
  left: -23px;
}

.card {
  --bs-card-border-width: 0px ;
}

.card-img-top {
  margin: 20px 5px 20px 5px;
}

.card-title {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.card-text {
  padding: 20px;
}

.card-text:last-child {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .carousel-control-next {
    right: -43px;
  }
  .carousel-control-prev {
    left: -43px;
  }
}
@media (min-width: 950px) {
  .card-img-top {
    width: 85%;
    height: 85%;
  }
  .card {
    align-items: center;
  }
  .carousel-control-next {
    right: -60px;
  }
  .carousel-control-prev {
    left: -60px;
  }
}
@media (min-width: 1100px) {
  .carousel-control-next {
    right: -75px;
  }
  .carousel-control-prev {
    left: -75px;
  }
}
.sobre_nos_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sobre_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box_1 {
  order: 1;
  padding: 15px 15px 15px 5px;
}

.box_2 {
  order: 2;
}

.box_3 {
  order: 4;
}

.box_4 {
  order: 3;
  padding: 15px 15px 15px 5px;
}

.box_5 {
  order: 5;
  padding: 15px 15px 15px 5px;
}

.box_6 {
  order: 6;
}

@media (min-width: 900px) {
  .sobre_nos_info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 40px;
  }
  .box_3 {
    order: 3;
  }
  .box_4 {
    order: 4;
  }
}
@media (min-width: 1100px) {
  .box_4 {
    padding-left: 40px;
  }
  .sobre_nos_info {
    padding: 20px;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */